.dhtmlwindow{
position: absolute;
border: 0px solid #C80A39;
visibility: hidden;
background-color: white;
z-index:5001;
}


.drag-handle .drag-controls{ /*CSS for controls (min, close etc) within Drag Handle*/
position: absolute;
right: 0px;
top: 0px;
cursor: hand;
cursor: pointer;
}

* html .drag-handle{ /*IE6 and below CSS hack. Width must be set to 100% in order for opaque title bar to render*/
width: 100%;
}


.drag-contentarea{ /*CSS for Content Display Area div*/
border-top: 0px solid brown;
background-color: white;
color: black;
height: 150px;
padding: 5px;
overflow: auto;
}

.drag-statusarea{ /*CSS for Status Bar div (includes resizearea)*/
border-top: 0px solid gray;
background-color: #FF9212;
height: 13px; /*height of resize image*/
}


.drag-resizearea{ /*CSS for Resize Area itself*/
float: right;
width: 13px; /*width of resize image*/
height: 13px; /*height of resize image*/
cursor: nw-resize;
font-size: 0;
}

.drag-handle{ /*Overwrite default drag handle bar background color with below*/
background-color: #FCA719;
}

#interVeil{ /*CSS for veil that covers entire page while modal window is visible*/
position: absolute;
background: black url(images/blackdot.gif);
width: 10px;
left: 0;
top: 0;
z-index: 100;
visibility: hidden;
filter:progid:DXImageTransform.Microsoft.alpha(opacity=80);
opacity: 0.8;
}
