

.nav {
height:43px;
position:relative; 
font-family:arial, verdana, sans-serif; 
font-size:12px; 
width:100%; 
z-index:20;
margin:0;
padding:0;
}

.nav .table {
display:table; 
margin:0 auto;
margin-left:0;
}

.nav .select,
.nav .current {
margin:0; 
padding:0; 
list-style:none; 
display:table-cell; 
white-space:nowrap;
}

.nav li {
margin:0; 
padding:0; 
height:auto; 
float:left;
}

.nav .select a {
	display:block;
	height:43px;
	float:left;
	font-weight:bold;
	padding:0 20px 0 20px;
	text-decoration:none;
	line-height:38px;
	white-space:nowrap;
	color:#000000;
}


.nav .select a:hover, 
.nav .select li:hover a {
background: url(/images/hover.gif);
padding:0 0 0 10px; 
cursor:pointer; 
color:#2b3238;
height: 43px;
background-position:center;
}

.nav .select a b{
	font-weight:bold;
	background-position:center;
	
	}

.nav .select a:hover b, 
.nav .select li:hover a b {
display:block; 
float:left; 
padding:0 20px 0 10px; 
background:url(images/hover.gif);
cursor:pointer;
height: 43px;
background-position:center;
}
.nav .select_sub {
display:none;
}
.nav .select_sub_new {
display:none;
}

/* IE6 only */
.nav table {
	border-collapse:collapse;
	margin:-1px;
	font-size:12px;
	width:0;
	height:0;
	font-weight: bold;
	margin-left:0;
}

.nav .sub {
display:table; 
margin:0 auto; 
padding:0; 
list-style:none;
width: 110%;
}

.nav .sub_active .current_sub a, 
.nav .sub_active a:hover {
background:transparent; 
color:#2b3238;
}

.nav .select :hover .select_sub, 
.nav .current .show {
display:block; 
position:absolute;
width:400px; 
top:43px;
height: 42px; 
background: url(images/back.gif);
padding:0; 
z-index:20; 
left:0; 
text-align:center;
}
.nav .select :hover .select_sub_new, 
.nav .current .show {
display:block; 
position:absolute;
width:450px; 
top:43px;
height: 42px; 
background: url(images/back.gif);
padding:0; 
z-index:20; 
left:0; 
text-align:center;
}
.nav .current .show {
z-index:10;
}

.nav .select :hover .sub li a, 
.nav .current .show .sub li a {
	display:block;
	float:left;
	padding:0 10px 0 10px;
	margin:0;
	white-space:nowrap;
	border:0;
	color:#2b3238;
	background-color: transparent;
	background-image: url(images/line.gif);
	background-repeat: no-repeat;
	background-position: right center;
	font-weight: bold;
}

.nav .current .sub li.sub_show a {
	color:#2b3238; 
	cursor:default; 
	font-weight: bold;

}

.nav .select .sub li a {
	font-weight:normal;
}

.nav .select :hover .sub li a:hover, 
.nav .current .sub li a:hover {
	visibility:visible; 
	color:#3e9129;
	font-weight: bold;

}
.nav_table{
	margin-left:15%;
}

