body,ul,li,p,div

{
	margin:0px;
	padding:0px;
}
a img { border: none 0;}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #595858;
	font-weight: normal;
	text-decoration: none;
	padding: 0px;
	margin: 0px;
	background-color: #ffffff;	
}

@font-face {
    font-family:"Fontin-Italic", Arial, sans-serif;
    src: url(Fontin-Italic.ttf);
}

.amenities_button_bg {
	background-image: url(/images/elevation.gif);
	background-repeat: no-repeat;
	background-position: left top;
}

.top_bg {
	/*background-image: url(/images/top_bg.gif);*/
	background-image: url(/images/top_bg2.png);
	background-repeat: repeat-x;
	background-position: left top;
}

.about_flash {
	/*background-image: url(/images/about_flash.gif);
	background-image: url(/images/about_flash_bg.png);*/
	background-image: url(/images/about_flash_bg2.png);
	background-repeat: repeat-x;
	background-position: left top;
}


#amenities_button_bg a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;

}

#amenities_button_bg a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
	
}




.for_jus {
	line-height: 19px;
	text-align: justify;
	}
	

.enquiry_line {
	border: 1px solid #e4e4e4;
}



.background_bg {
	background-color: ffffff;
	/*background-image: url(/images/background_bg.gif);
	background-image: url(/images/background_bg1.png);
	background-image: url(/images/background_bg2.png);*/
	background-image: url(/images/background_bg3.png);
	background-repeat: repeat-x;
	background-position: left bottom;
}
.line_about {
	background-image: url(/images/line_about.gif);
	background-repeat: repeat-x;
	background-position: left top;
}

.welcome_bg {
	background-image: url(/images/welcome_bg.gif);
	background-repeat: repeat;
	background-position: left top;
}
.quality_box {
	background-image: url(/images/quality_bg.gif);
	background-repeat: repeat-x;
	border: 1px solid #e0e0e0;
	background-color: #ebefdf;
}

.welcome_top_bg {
	background-image: url(/images/welcome_top_bg.png);
	background-repeat: repeat-x;
	background-position: left bottom;
}
.welcome_bot_bg {
	background-image: url(/images/welcome_bot_bg.png);
	background-repeat: repeat-x;
	background-position: left top;
}
.chairmans_desk_box {
	border: 1px solid #c6dfb2;
}
.sub_chairman {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}

.sub_head_quality {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

.sub_head_contact {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #ad254e;
	text-decoration: none;
}
.left_frame {
	background-image: url(/images/left_border.gif);
	background-repeat: repeat-y;
	width: 11px;
}
.right_frame {
	background-image:url(/images/right_border.gif);
	background-repeat: repeat-y;
	width: 10px;
}

.red_color {
	color: #ad254e;
}


#useful_links a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #595858;
	text-decoration: none;
}

#useful_links a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #ad254e;  
	text-decoration: underline;
}


#mail a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #606060;
	font-weight: normal;
	text-decoration: underline;
	
	}
	
#mail a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #606060;
	font-weight: normal;
	text-decoration: underline;
	
	}
	
	
.fut_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #606060;
	font-weight: normal;
	text-decoration: none;
	
	}
	
.fut_why_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #676767;
	font-weight: normal;
	text-decoration: none;
	text-align: justify;
	line-height: 19px;
	}
	
#fut a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #606060;
	font-weight: normal;
	text-decoration: none;
}	

#fut a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #606060;
	font-weight: normal;
	text-decoration: none;
}


#lbm a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ce6c17;
	font-weight: normal;
	text-decoration: none;
	}
	
#lbm a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #606060;
	font-weight: normal;
	text-decoration: none;
	}

#read_more a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #b24867;
	font-weight: bold;
	text-decoration: underline;
	}
	
#read_more a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #b24867;
	font-weight: bold;
	text-decoration: none;
	}

#read_more_1 a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #595858;
	font-weight: bold;
	text-decoration: underline;
	}
	
#read_more_1 a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #595858;
	font-weight: bold;
	text-decoration: none;
	}
	
	 .style1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.style3 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color:#000000; }
.font_style {  font-size: 12px; font-weight: normal; font-style:italic; }
@font-face {
    font-family: 'LucidaHandwritingItalic';
    src: url('lhandw-webfont.eot');
    src: url('lhandw-webfont.eot?#iefix') format('embedded-opentype'),
         url('lhandw-webfont.woff') format('woff'),
         url('lhandw-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
.page_bg {
	background-image: url(/images/notepaper.png);
	background-repeat: no-repeat;
	background-position: left -50px;
	padding-left: 90px;
}
/*** set the width and height to match your images **/

#slideshow {
    position:relative;
    height:219px;
	
	
}

#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
}

#slideshow IMG.active {
    z-index:10;
    opacity:1.0;
}

#slideshow IMG.last-active {
    z-index:9;
}
ul{
    list-style-image: url('/images/icon1.jpg');
}

 
/*css for treatment table*/
table.treatment{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
    border-collapse:separate;
}
.treatment tbody th{
    color:#fff;
    text-shadow:1px 1px 1px #568F23;
    background-color:#9DD929;
    border:1px solid #93CE37;
    border-right:3px solid #9ED929;
    padding:0px 10px;
    background:-webkit-gradient(
        linear,
        left bottom,
        right top,
        color-stop(0.02, rgb(158,217,41)),
        color-stop(0.51, rgb(139,198,66)),
        color-stop(0.87, rgb(123,192,67))
        );
    background: -moz-linear-gradient(
        left bottom,
        rgb(158,217,41) 2%,
        rgb(139,198,66) 51%,
        rgb(123,192,67) 87%
        );
    -moz-border-radius:5px 0px 0px 5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}
.treatment tbody td{
    padding:10px;
    text-align:center;
   /* background-color:#DEF3CA;*/
    border: 2px solid #E7EFE0;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:#666;
    text-shadow:1px 1px 1px #fff;
}
.disease{
	background-color:#DEF3CA;
}
.issue{
	background-color:#fed3c9;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
#close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close:hover,
#close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #13d6f6;
    color: black;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #13d6f6;
    color: black;
}
#modal_content{
	font-size: 18px;
	line-height: 25px;
}
.diseases {
	-moz-box-shadow: 3px 4px 0px 0px #8a2a21;
	-webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
	background-color:#c62d1f;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
	width: 195px;
}
.diseases:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24437;
}

/*//------- {{ Variables }} -------//*/
/*//------- {{ Styles }} -------//*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


#wrapper {
  position: relative;
}
.branch-blank {
	position: relative;
	margin-left: 400px;
}
.branch {
  position: relative;
  margin-left: 400px;
}
.branch:before {
  content: "";
  width: 100px;
  border-top: 2px solid #000000;
  position: absolute;
  left: -150px;
  top: 50%;
  margin-top: 1px;
}
.blank {
	position: relative;
	min-height: 60px;
	border-left: 2px solid white;
	left: -50px;
}
.entry {
  position: relative;
  /* position: absolute; */
  min-height: 40px;
}
.entry:before {
  content: "";
  height: 100%;
  border-left: 2px solid #000000;
  position: absolute;
  left: -50px;
}
.entry:after {
  content: "";
  width: 50px;
  border-top: 2px solid #000000;
  position: absolute;
  left: -50px;
  top: 50%;
  margin-top: 1px;
  /*border: 2px solid black;*/
}
.entry:first-child:before {
  width: 10px;
  height: 50%;
  top: 50%;
  margin-top: 2px;
  border-radius: 10px 0 0 0;
}
.entry:first-child:after {
  height: 10px;
  border-radius: 10px 0 0 0;
    /* border: 5px solid red; */
}
.entry:first-child {
}
.special:after {
  height: 10px;
  border-radius: 10px 0 0 0;
  border-left: 2px solid #000000;
}
.special:before {
	/*border: none;*/
	/*content: "";*/
	height: 30%;
	border-left: 2px solid #000000;
	top: 70%;
	/*position: absolute;
	left: -50px;
	border: 2px solid orange;*/
}
.entry:last-child:before {
  width: 10px;
  height: 50%;
  border-radius: 0 0 0 10px;
  /* border: 5px solid red; */
}
.entry:last-child:after {
  height: 10px;
  border-top: none;
  border-bottom: 2px solid #000000;
  border-radius: 0 0 0 10px;
  margin-top: -9px;
}
.entry.sole:before {
  display: none;
}
.entry.sole:after {
  width: 50px;
  height: 0;
  margin-top: 1px;
  border-radius: 0;
}
#root {
	min-width: 250px;
	text-align: center;
	margin-top: -6px;
}
.label {
  display: block;
  min-width: 450px;
  padding: 5px 10px;
  line-height: 20px;
  text-align: left;
  border: 2px solid black;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -15px;
}

.top-button {
	display: block;
	min-width: 150px;
	padding: 5px 10px;
	line-height: 30px;
	border: 2px solid yellow;
	border-radius: 5px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -27px;
	margin-left: 35px;
}


.bottom-button {
	display: block;
	min-width: 150px;
	padding: 5px 10px;
	line-height: 30px;
	border: 2px solid green;
	border-radius: 25px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: 19px;
	margin-left: 35px;
}

/*We will apply the hover effect the the lineage of the element also*/
/*, .tree li a:hover+ul li a*/
.entry span:hover, .entry span:hover+div span, .label:hover {
	background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
/*Connector styles on hover FIX THIS*/
/*.tree li a:hover+ul li::after, */
.entry span:hover+div span::after,
/*.tree li a:hover+ul li::before, */
.entry span:hover+div span::after,
/*.tree li a:hover+ul::before, */
.entry span:hover+div::before,
/*.tree li a:hover+ul ul::before*/
.entry span:hover+span::before {
	border-color:  #000;
}

/*FROM BRYAN*/
.hasMore {
	border: 2px red solid !important;
}

.logo_bg {
	background-color: ffffff;
	/*background-image: url(/images/background_bg.gif);
	background-image: url(/images/background_bg1.png);
	background-image: url(/images/back.gif);
	background:#00407d none repeat scroll 0 0;*/
	
	background:#13d6f6 none repeat scroll 0 0;
	background-repeat: repeat-x;
	background-position: left bottom;
}
.header_logo{
	width: 300px;
	height: 140px;
	border: 2px white solid !important;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}
